name: Build and run tests for pull requests

on:
  pull_request:

permissions:
  actions: read
  contents: read
  checks: write

jobs:
  test-and-build:
    name: Test & Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Run tests
        run: ./gradlew --info test

      - name: Test report
        uses: dorny/test-reporter@v1
        with:
          name: JUnit tests
          path: build/test-results/**/*.xml
          reporter: java-junit

      - name: Build
        run: ./gradlew --info build
